*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', 'Roboto Thin';
}
.containerPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav{
    float: left;
    width: 100%;
}
ul{
    list-style: none;
    background-color: black;
    overflow: hidden;
    padding: 20px 16px;
    float: left;
    width: -webkit-fill-available;
    position: absolute;
}
li{
    cursor: pointer;
    color: white;
    display: inline;
    text-align: center;
    margin: 0 30px 0 0;
    float: left;
    font-size: 16px;
}
ul li:hover{
    color: rgb(209, 40, 105);
    font-weight: bold;
    text-shadow: 2px 2px black;
}
.search{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    -webkit-writing-mode: vertical-rl;
    float: right;
    position: absolute;
}
#search {
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    text-align: center;
    margin-right: 6px;
}
#searchBox {
    margin-top: 12px;
    float: right;
    margin-right: 6px;
    text-align:center;
    border-radius: 10px;
    height: 25px;
    width: 200px;
}
#banner{
    display: flex;
    flex-wrap: wrap;
}
#banner img{
    width: 100%;
    margin-top: 55px;
}
.divtextBanner{
    margin-left: 15px;
    font-size: 33px;
    font-weight: bold;
    margin-top: -220px;
}
.textbanner{
    margin-top: 2px;
}
.textColor{
    background-color: white;
}